<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="gxu.software_engineering.market.android"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="17" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme"
        android:name="gxu.software_engineering.market.android.MarketApp">
        <activity
            android:name="gxu.software_engineering.market.android.MainActivity"
            android:label="@string/app_name"
            android:windowSoftInputMode="adjustResize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="gxu.software_engineering.market.android.activity.ItemsActivity" />
        <activity android:name="gxu.software_engineering.market.android.activity.ItemActivity" />
        <activity android:name="gxu.software_engineering.market.android.activity.UserServiceActivity" />
        <activity android:name="gxu.software_engineering.market.android.activity.NewItemActivity"
            android:windowSoftInputMode="adjustResize" />
        <activity android:name="gxu.software_engineering.market.android.activity.UpdateItemActivity"
            android:windowSoftInputMode="adjustResize" />
    </application>

</manifest>
