<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="gxu.software_engineering.market.android"
    android:versionCode="1"
    android:versionName="1.0" >
    
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CALL_PHONE" /> 
    <uses-permission android:name="android.permission.SEND_SMS" />

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="17" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme"
        android:name="gxu.software_engineering.market.android.MarketApp">
        <activity
            android:noHistory="true"
            android:theme="@android:style/Theme.Black.NoTitleBar.Fullscreen"
            android:name="gxu.software_engineering.market.android.activity.HelloActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="gxu.software_engineering.market.android.MainActivity"
            android:label="@string/app_name"
            android:windowSoftInputMode="adjustResize" />
        <activity android:name="gxu.software_engineering.market.android.activity.ItemsActivity" />
        <activity android:name="gxu.software_engineering.market.android.activity.ItemActivity" />
        <activity android:name="gxu.software_engineering.market.android.activity.UserServiceActivity" />
        <activity android:name="gxu.software_engineering.market.android.activity.NewItemActivity"
            android:windowSoftInputMode="adjustResize" />
        <activity android:name="gxu.software_engineering.market.android.activity.UpdateItemActivity"
            android:windowSoftInputMode="adjustResize" />
        
        <provider android:name="gxu.software_engineering.market.android.provider.MarketProvider"
            android:authorities="gxu.software_engineering.market.provider" />
        <service android:name="gxu.software_engineering.market.android.service.FetchService" />
    </application>

</manifest>
